{% extends 'natal/template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/natal/reinoNoel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="reinoNoel-wrapper">
    <div class="top-banner">
        <img src="/static/imgs/bannerPrincipalCasaPapaiNoel.png" alt="top-banner" class="top-banner-image">
        <div class="overlay">
            <h4 class="overlay-classificacao">#1 no estado do RJ</h4>
            <h2 class="overlay-secretaria">SECRETARIA DE TURISMO</h2>
            <h1 class="overlay-reinonoel">O Reino de Noel</h1>
            <div class="overlay-infos">
                <div class="overlay-classificacao-bg">
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <span class="overlay-classificacao-number"> 5.0</span>

                </div>
                <div class="overlay-classificacao-bg">
                    <span class="overlay-temporada"> 4ª TEMPORADA </span>
                </div>
                
                <div class="overlay-ano">
                    <span class="overlay-ano-text">2024</span>
                    <div class="icon-l">
                        <i class="fas fa-square"></i>
                        <span class="letter">L</span>
                    </div>
                </div>
                
            </div>
            <span class="overlay-text">
                O Reino de Noel é mais do que uma decoração temática, é uma experiência completa que promete criar memórias inesquecíveis para todos os visitantes.   
            </span>
        </div>
    </div>

        <div class="mid-banners">
            <div class="mid-banner-card">
                <!-- <img src="/static/imgs/image.png" alt="ops"> -->
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
        </div>
    <div class="text-infos">
        <h1 class="text-infos-title">Casa do Papai Noel 
        </h1>
       

        <div class="text-infos-content">
            <span class="text-infos-content-text">
                A Casa do Papai Noel é uma das principais atrações do nosso Natal, trazendo magia e alegria para todos os visitantes! <br><br>
                Neste espaço encantado, o bom velhinho espera por você para compartilhar momentos inesquecíveis. As crianças podem entregar suas cartinhas, tirar fotos e criar memórias inesquecíveis! <br><br>
                Neste Natal, junte-se a nós na Casa do Papai Noel e deixe-se levar pelo encanto natalino. Venha celebrar a alegria e o amor que essa época do ano nos proporciona, criando lembranças especiais que ficarão guardadas para sempre!



            </span>
           
        </div>
    </div>

    <!-- <div class="previa">
        <h1 class="text-infos-title-previa">Prévia</h1>
        <div class="iframe-wrapper">
            <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview"  allow="autoplay" class="iframe-reino-noel"></iframe>
        </div>
    </div> -->
    
</div>


{% endblock %}