{% extends 'natal/template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/natal/reinoNoel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="reinoNoel-wrapper">
    <div class="top-banner">
      {% if bannerPrincipalDesfilesWeb and bannerPrincipalDesfilesWeb.banner_image %}
        <img src="{{ bannerPrincipalDesfilesWeb.banner_image.url }}" alt="{{ bannerPrincipalDesfilesWeb.nome }}" class="top-banner-image">
        {% else %}
        <img src="/static/imgs/bannerPrincipalDesfiles.png" alt="top-banner" class="top-banner-image">
        {% endif %}
    </div>
    <div class="home-top-banner-mobile-atracoes"> 
        {% if bannerPrincipalDesfilesMOBILE and bannerPrincipalDesfilesMOBILE.banner_image %}
            <img src="{{ bannerPrincipalDesfilesMOBILE.banner_image.url }}" alt="{{ bannerPrincipalDesfilesMOBILE.nome }}" class="home-top-banner-image-mobile-atracoes"> 
        {% endif %}
    </div>

    <div class="mid-banners">
      {% for banner in midBanners %}
      <div class="mid-banner-card">
          <img src="{{ banner.section_image.url }}" alt="{{ banner.nome }}" class="mid-banner-image">
      </div>
      {% endfor %}
  </div>
  <div id="carouselExampleIndicators" class="carousel slide carousel-mobile" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for banner in midBannersAll %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" style="border-radius: 15px;">
        {% for banner in midBannersAll %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="/desfiles">
                <img class="d-block w-100" src="{{ banner.section_image.url }}" alt="{{ banner.nome }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <div class="text-infos">
      <h1 class="text-infos-title">{{descricao.titulo | safe}}</h1>
      <div class="text-infos-content">
          <span class="text-infos-content-text">
              {{descricao.descricao | safe}}
          </span>
         
      </div>
  </div>

  {% if descricao.section_image or descricao.section_video %}
  <div class="previa">
    <h1 class="text-infos-title-previa">Prévia</h1>
    <div class="iframe-wrapper">
        {% if descricao.section_video %}
            <iframe src="{{ descricao.section_video }}" allow="autoplay" class="iframe-reino-noel"></iframe>
        {% elif descricao.section_image %}
            <img src="{{ descricao.section_image.url }}" alt="{{descricao.titulo | safe}}" class="imagem-reino-noel" />
        {% endif %}
    </div>
  </div>
  {% endif %}
    
</div>


{% endblock %}