{% block css %}
        <link rel="stylesheet" href="/static/css/natal/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sequel+Sans:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block footer %}
<footer class="footer-wrapper">
    <!-- PARTE WEB -->
    <div class="footer-infos-wrapper-content">
        <div class="footer-site-links">
            <h4 class="footer-site-title">SITE</h4>
            <a href="/reinoNoel" target="_blank" class="footer-site-link">
                <span>O Reino de Noel</span>
            </a>
            <a  target="_blank" class="footer-site-link" id="openOverlayLinkProgramacaoFooter">
                <span>Programação</span>
            </a>
            <a href="/desfiles" target="_blank" class="footer-site-link">
                <span>Desfiles</span>
            </a>
            <a href="/teatros" target="_blank" class="footer-site-link">
                <span>Teatros</span>
            </a>
            <a href="/casaPapaiNoel" target="_blank" class="footer-site-link">
                <span>Casa do Papai Noel</span>
            </a>
            <a href="/decoracoes" target="_blank" class="footer-site-link"> 
                <span>Decorações</span>
            </a>
            <a href="https://www.novafriburgoturismo.com.br/nossa-historia" target="_blank" class="footer-site-link">
                <span>Nova Friburgo</span>
            </a>
            <a target="_blank" class="footer-site-link" href="/noticias">
                <span>Notícias</span>
            </a>
        </div>
        <div class="footer-contatos-links">
            <h4 class="footer-site-title">CONTATO</h4>
            <a href="tel:+552225436307" class="footer-contato-link" target="_blank">
                <span class="footer-contato-link-item"><i class="fa-solid fa-phone tel-icon"></i>(22)2543-6307</span>
            </a>
            <a href="https://instagram.com/turismonovafriburgo" class="footer-contato-link" target="_blank">
                <span class="footer-contato-link-item"><i class="fa-brands fa-instagram instagram-icon"></i></i>@turismonovafriburgo</span>
            </a>
            <a href="https://www.novafriburgoturismo.com.br" target="_blank" class="footer-contato-link">
                <div class="icon-wrapper">
                    <i class="fas fa-globe"></i>
                    <i class="fas fa-mouse-pointer"></i>
                  </div>
                  <span class="footer-contato-link-item">www.novafriburgoturismo.com.br</span>
            </a>
            <a href="https://www.google.com/maps?q=place_id:ChIJc7nRU42KlwARKJIsHv57Bh8" target="_blank" class="footer-contato-link endereco"> 
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <span class="footer-contato-link-item"><i class="fa-solid fa-location-dot"></i> Av. Alberto Braune 225 Centro,</span>
                    <span class="footer-contato-link-item novaFriburgo">Nova Friburgo - RJ CEP: 28613-001</span>
                </div>
            </a>
        </div>
        <div class="footer-map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.048320486064!2d-42.5317947!3d-22.2860676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x978a8d53d1b973%3A0x1f067bfe1e2c9228!2sAv.%20Alberto%20Braune%20-%20Nova%20Friburgo%2C%20RJ!5e0!3m2!1sen!2sbr!4v1697461954852!5m2!1sen!2sbr" width="100%" height="100%" frameborder="0" style="border:0; border-radius: 5px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
        </div>
    </div>

    <!-- PARTE MOBILE -->
    <div class="footer-infos-wrapper-content-mobile">
        <!-- SITE -->
        <div class="footer-site-mobile-wrapper" onclick="toggleSiteLinks()">
            <span class="footer-site-mobile-title">SITE</span>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div id="site-links" class="site-links-wrapper-mobile">
            <a href="/reinoNoel" target="_blank" class="footer-site-link-mobile" style="margin-top: 10px;">
                <span>O Reino de Noel</span>
            </a>
            <a target="_blank" class="footer-site-link-mobile" id="openOverlayLinkProgramacaoFooterMobile">
                <span>Programação</span>
            </a>
            <a href="/desfiles" target="_blank" class="footer-site-link-mobile">
                <span>Desfiles</span>
            </a>
            <a href="/teatros" target="_blank" class="footer-site-link-mobile">
                <span>Teatros</span>
            </a>
            <a href="/casaPapaiNoel" target="_blank" class="footer-site-link-mobile">
                <span>Casa do Papai Noel</span>
            </a>
            <a href="/decoracoes" target="_blank" class="footer-site-link-mobile"> 
                <span>Decorações</span>
            </a>
            <a href="https://www.novafriburgoturismo.com.br/nossa-historia" target="_blank" class="footer-site-link-mobile">
                <span>Nova Friburgo</span>
            </a>
            <a target="_blank" class="footer-site-link-mobile" href="/noticias">
                <span>Notícias</span>
            </a>
        </div>
         <!-- CONTATO -->
        <div class="footer-contato-mobile-wrapper" onclick="toggleContatoLinks()">
            <span class="footer-contato-mobile-title">CONTATO</span>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div id="contato-links" class="contato-links-wrapper-mobile">
            <a href="tel:+552225436307" class="footer-contato-link-mobile" target="_blank" style="margin-top: 10px;">
                <span class="footer-contato-link-mobile-item"><i class="fa-solid fa-phone tel-icon"></i>(22)2543-6307</span>
            </a>
            <a href="https://instagram.com/turismonovafriburgo" class="footer-contato-link-mobile" target="_blank">
                <span class="footer-contato-link-mobile-item"><i class="fa-brands fa-instagram instagram-icon"></i></i>@turismonovafriburgo</span>
            </a>
            <a href="https://www.novafriburgoturismo.com.br" target="_blank" class="footer-contato-link-mobile">
                <div class="icon-wrapper">
                    <i class="fas fa-globe"></i>
                    <i class="fas fa-mouse-pointer"></i>
                  </div>
                  <span class="footer-contato-link-mobile-item">www.novafriburgoturismo.com.br</span>
            </a>
            <a href="https://www.google.com/maps?q=place_id:ChIJc7nRU42KlwARKJIsHv57Bh8" target="_blank" class="footer-contato-link-mobile"> 
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <span class="footer-contato-link-mobile-item"><i class="fa-solid fa-location-dot"></i> Av. Alberto Braune 225 Centro,</span>
                    <span class="footer-contato-link-mobile-item novaFriburgo">Nova Friburgo - RJ CEP: 28613-001</span>
                </div>
            </a>
        </div>

        <div class="footer-map-wrapper-mobile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.048320486064!2d-42.5317947!3d-22.2860676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x978a8d53d1b973%3A0x1f067bfe1e2c9228!2sAv.%20Alberto%20Braune%20-%20Nova%20Friburgo%2C%20RJ!5e0!3m2!1sen!2sbr!4v1697461954852!5m2!1sen!2sbr" width="100%" height="100%" frameborder="0" style="border:0; border-radius: 5px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
        </div>
    </div>
    

    <div class="images-wrapper-footer">
        <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="image-logo-pmnf-footer">
            <img src="/static/imgs/logo_horizontal_branco.webp" alt="logoPMNF" class="images-footer"/>
        </a>
        <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank">
            <img src="/static/imgs/logo-turismo2-05.webp" alt="logoTurismo" class="images-footer"/>
        </a>   
    </div>
</footer>
 <!-- Estrutura do overlay -->
 <div id="overlay" class="overlay">
    <div class="overlay-content">
        <button class="close-btn" id="closeBtn">&times;</button>
        <div class="overlay-text" id="overlayText">Em breve</div>
        <div class="countdown" id="countdown"></div>
        <div id="snowflakes-container"></div>
    </div>
</div>


<script>
     // FOOTER MOBILE
    function toggleSiteLinks() {
        const siteLinks = document.getElementById('site-links');
        const icon = document.querySelector('.footer-site-mobile-wrapper i');

        // Alterna a classe 'show' para mostrar/ocultar a div
        siteLinks.classList.toggle('show');

        // Troca o ícone da seta e adiciona/remover a classe de rotação
        if (siteLinks.classList.contains('show')) {
            icon.classList.add('rotate'); 
        } else {
            icon.classList.remove('rotate');
        }
    }

    function toggleContatoLinks() {
        const contatoLinks = document.getElementById('contato-links');
        const icon = document.querySelector('.footer-contato-mobile-wrapper i');

        // Alterna a classe 'show' para mostrar/ocultar a div
        contatoLinks.classList.toggle('show');

        // Troca o ícone da seta e adiciona/remover a classe de rotação
        if (contatoLinks.classList.contains('show')) {
            icon.classList.add('rotate'); 
        } else {
            icon.classList.remove('rotate');
        }
    }

    // Event listeners para os links de Programação e Notícias
    document.getElementById('openOverlayLinkProgramacaoFooter').addEventListener('click', function() {
        openOverlay('Aguarde, a Programação de Natal será divulgada em breve!');
    });

    document.getElementById('openOverlayLinkNoticiasFooter').addEventListener('click', function() {
        openOverlay('As notícias serão publicadas em breve!');
    });

    document.getElementById('openOverlayLinkProgramacaoFooterMobile').addEventListener('click', function() {
        openOverlay('Aguarde, a Programação de Natal será divulgada em breve!');
    });

    document.getElementById('openOverlayLinkNoticiasFooterMobile').addEventListener('click', function() {
        openOverlay('As notícias serão publicadas em breve!');
    });
    
    
</script>

{% endblock %}