
    {% extends 'natal/template.html' %}
    {% block css %}
        <link rel="stylesheet" href="/static/css/natal/index1.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
{% block main %}


    <div class="home-top-banner">
        <img src="/static/imgs/home_top_banner.png" alt="banner-principal" class="home-top-banner-image">
    </div>
    <div class="home-novidades-natal">
        <div class="home-novidades-natal-title"> 
            <h1 class="novidades-natal-title">Novidades no Encanto de Natal</h1>
        </div>
        <div class="novidades-natal-cards">
            <div class="mid-banner-card">
                <a href="">
                    <img src="/static/imgs/card-1.png" alt="card1" class="card-images">
                </a>
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-2.png" alt="card1" class="card-images">
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-3.png" alt="card1" class="card-images">
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-4.png" alt="card1" class="card-images">

            </div>
        </div>
    </div>

    <div class="home-reino-noel">
        <div class="home-reino-noel-text">
            <h1 class="home-reino-noel-title">
                O Reino de Noel
            </h1>
            <h3 class="home-reino-noel-edicao">2024 - 4ª Edição - Um Encanto de Natal</h3>
            <h3 class="home-reino-noel-edicao">De 15 de novembro a 31 de dezembro</h3>
            <span class="home-reino-noel-descricao">"Um Encanto de Natal: O Reino de Noel" 
                é mais do que uma decoração temática; 
                é uma experiência completa que promete 
                criar memórias inesquecíveis para todos
                os visitantes. Traga sua família e amigos para Nova Friburgo e deixe-se envolver
                pelo espírito natalino em um cenário de pura magia e encantamento. Aqui, os sonhos de Natal tornam-se realidade!</span>
                <a href="/reinoNoel" target="_blank" class="home-reino-noel-botao">Saiba Mais</a>
        </div>
        <div class="home-reino-noel-image">
            <img src="/static/imgs/Home-reinoNoel.jpg" alt="reinoNoelBanner" class="home-reino-noel-image-image">
            <div class="overlay"></div>
            <a href="/reinoNoel" target="_blank" class="home-reino-noel-botao-mobile">Saiba Mais</a>
        </div>
    </div>






{% endblock %}