
    {% extends 'natal/template.html' %}
    {% block css %}
        <link rel="stylesheet" href="/static/css/natal/index1.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sequel+Sans:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
{% block main %}
    <div class="home-top-banner">
        <img src="/static/imgs/home_top_banner.png" alt="banner-principal" class="home-top-banner-image">
    </div>
    <div class="home-novidades-natal">
        <div class="home-novidades-natal-title"> 
            <h1 class="novidades-natal-title">Novidades no Encanto de Natal</h1>
        </div>
        <div class="novidades-natal-cards">
            <div class="mid-banner-card">
                <a href="">
                    <img src="/static/imgs/card-1.png" alt="card1" class="card-images">
                </a>
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-2.png" alt="card1" class="card-images">
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-3.png" alt="card1" class="card-images">
            </div>
            <div class="mid-banner-card">
                <img src="/static/imgs/card-4.png" alt="card1" class="card-images">

            </div>
        </div>
    </div>

    <div class="home-reino-noel">
        <div class="home-reino-noel-text">
            <h1 class="home-reino-noel-title">
                O Reino de Noel
            </h1>
            <h3 class="home-reino-noel-edicao">2024 - 4ª Edição - Um Encanto de Natal</h3>
            <h3 class="home-reino-noel-edicao">De 15 de novembro a 31 de dezembro</h3>
            <span class="home-reino-noel-descricao">"Um Encanto de Natal: O Reino de Noel" 
                é mais do que uma decoração temática; 
                é uma experiência completa que promete 
                criar memórias inesquecíveis para todos
                os visitantes. Traga sua família e amigos para Nova Friburgo e deixe-se envolver
                pelo espírito natalino em um cenário de pura magia e encantamento. Aqui, os sonhos de Natal tornam-se realidade!</span>
                <a href="/reinoNoel" target="_blank" class="home-reino-noel-botao">Saiba Mais</a>
        </div>
        <div class="home-reino-noel-image">
            <img src="/static/imgs/Home-reinoNoel.jpg" alt="reinoNoelBanner" class="home-reino-noel-image-image">
            <div class="overlay"></div>
            <a href="/reinoNoel" target="_blank" class="home-reino-noel-botao-mobile">Saiba Mais</a>
        </div>
    </div>

    <div class="em-alta-wrapper">
        <h2 class="em-alta-title">Em alta</h2>
        <div class="cards-em-alta-wrapper">
            <div class="card-em-alta">
                <a href="" class="card-link">
                    <span class="number">1</span>
                    <img src="/static/imgs/emalta-banner1.png" alt="Desfiles" class="em-alta-card-image">
                </a>
            </div>

            <div class="card-em-alta">
                <a href="" class="card-link">
                    <span class="number">2</span>
                    <img src="/static/imgs/emalta-banner2.png" alt="Desfiles" class="em-alta-card-image">
                </a>
            </div>

            <div class="card-em-alta">
                <a href="" class="card-link">
                    <span class="number">3</span>
                    <img src="/static/imgs/emalta-banner3.png" alt="Desfiles" class="em-alta-card-image">
                </a>
            </div>
            <div class="card-em-alta">
                <a href="" class="card-link">
                    <span class="number">4</span>
                    <img src="/static/imgs/emalta-banner4.png" alt="Desfiles" class="em-alta-card-image">
                </a>
            </div>
        </div>
    </div>

    <div class="programacao-wrapper">
        <img src="/static/imgs/home-programacao.png" alt="banner-programacao" class="banner-programacao-image">
        <div class="overlay-programacao"></div>
        <a href="" class="programacao-button">Confira a programação completa</a>
    </div>

    <div class="home-encanto-natal-wrapper">
        <div class="home-encanto-natal-video-web">
                <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview" allow="autoplay" class="iframe-home-encanto-natal"></iframe>
        </div>
        <div class="home-encanto-natal-text">
            <h1 class="home-encanto-natal-title">
                Um Encanto de Natal
            </h1>
            <h3 class="home-encanto-natal-edicao">2023 - 3ª Edição - Um Encanto de Natal: Fábrica de Sonhos</h3>
            <h3 class="home-encanto-natal-edicao">Confira como foi a última edição</h3>
            <span class="home-encanto-natal-descricao">Nova Friburgo se transformou em um cenário deslumbrante. O grandioso desfile natalino, com carros alegóricos e personagens festivos que ganharam vida ao longo da avenida iluminada, emocionando e trazendo a magia do Natal para centenas de famílias. Além disso, a última edição contou com decorações nos distritos e o espetáculo “Acender das Luzes”, teatro gratuito no Centro da cidade.</span>
            <div class="home-encanto-natal-video-mobile">
                <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview" allow="autoplay" class="iframe-home-encanto-natal"></iframe>
            </div>
            <a href="/reinoNoel" target="_blank" class="home-encanto-natal-botao">Saiba Mais</a>
        </div>
    </div>


    <div class="spotify-wrapper">
        <div class="spotify-image-playlist">
            <a href="https://open.spotify.com/playlist/2qRFnJzPgyx0J0nkVVFVKI?si=b9b6525ced54420f&nd=1&dlsi=4d12b1e0b7bf45b1" target="_blank">
                <img src="/static/imgs/spotify-playlist.png" alt="codigospotify" class="spotify-image">
            </a>
        </div>
        <div class="spotify-text-wrapper">
            <span class="spotify-text-wrapper-text">Ouça nossa playlist especial de Natal no Spotify</span>
        </div>
    </div>
    <!-- COLOCAR ISSO PARA CHAMAR EM TODAS AS TELAS -->
    <button onclick="topFunction()" id="backToTopBtn" class="btn btn-primary">
       <i class="fa-solid fa-angle-up up-page-icon"></i>
    </button>

    <!-- COLOCAR ISSO PARA CHAMAR EM TODAS AS TELAS -->
    <footer class="footer-wrapper">
        <!-- PARTE WEB -->
        <div class="footer-infos-wrapper-content">
            <div class="footer-site-links">
                <h4 class="footer-site-title">SITE</h4>
                <a href="/reinoNoel" target="_blank" class="footer-site-link">
                    <span>O Reino de Noel</span>
                </a>
                <a href="" target="_blank" class="footer-site-link">
                    <span>Programação</span>
                </a>
                <a href="" target="_blank" class="footer-site-link">
                    <span>Desfiles</span>
                </a>
                <a href="" target="_blank" class="footer-site-link">
                    <span>Teatros</span>
                </a>
                <a href="" target="_blank" class="footer-site-link">
                    <span>Casa do Papai Noel</span>
                </a>
                <a href="" target="_blank" class="footer-site-link"> 
                    <span>Decorações</span>
                </a>
                <a href="https://www.novafriburgoturismo.com.br/nossa-historia" target="_blank" class="footer-site-link">
                    <span>Nova Friburgo</span>
                </a>
                <a href="/" target="_blank" class="footer-site-link">
                    <span>Notícias</span>
                </a>
            </div>
            <div class="footer-contatos-links">
                <h4 class="footer-site-title">CONTATO</h4>
                <a href="tel:+5502225436307" class="footer-contato-link" target="_blank">
                    <span class="footer-contato-link-item"><i class="fa-solid fa-phone tel-icon"></i>(22)2543-6307</span>
                </a>
                <a href="https://instagram.com/turismonovafriburgo" class="footer-contato-link" target="_blank">
                    <span class="footer-contato-link-item"><i class="fa-brands fa-instagram instagram-icon"></i></i>@turismonovafriburgo</span>
                </a>
                <a href="https://www.novafriburgoturismo.com.br" target="_blank" class="footer-contato-link">
                    <div class="icon-wrapper">
                        <i class="fas fa-globe"></i>
                        <i class="fas fa-mouse-pointer"></i>
                      </div>
                      <span class="footer-contato-link-item">www.novafriburgoturismo.com.br</span>
                </a>
                <a href="https://www.google.com/maps?q=place_id:ChIJc7nRU42KlwARKJIsHv57Bh8" target="_blank" class="footer-contato-link endereco"> 
                    <div style="display: flex;flex-direction: column;justify-content: center;">
                        <span class="footer-contato-link-item"><i class="fa-solid fa-location-dot"></i> Av. Alberto Braune 225 Centro,</span>
                        <span class="footer-contato-link-item novaFriburgo">Nova Friburgo - RJ CEP: 28613-001</span>
                    </div>
                </a>
            </div>
            <div class="footer-map-wrapper">
                <a href="https://www.google.com/maps?q=place_id:ChIJc7nRU42KlwARKJIsHv57Bh8" target="_blank">

                </a>
            </div>
        </div>

        <!-- PARTE MOBILE -->
        <div class="footer-infos-wrapper-content-mobile">
            
        </div>
        <div class="header-images-wrapper-footer">
            <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="image-header-logo-pmnf-footer">
                <img src="/static/imgs/logo_horizontal_branco.webp" alt="logoPMNF" class="header-images-footer"/>
            </a>
            <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank">
                <img src="/static/imgs/logo-turismo2-05.webp" alt="logoTurismo" class="header-images-footer"/>
            </a>   
        </div>
    </footer>
    <script>
        // PARTE PARA SUBIR A TELA
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        const btn = document.getElementById("backToTopBtn");
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 200) {
            btn.style.display = "block";
        } else {
            btn.style.display = "none";
        }
        }
        // Função para rolar suavemente até o topo
        function topFunction() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' 
            });
        }
        // FOOTER MOBILE
    </script>


{% endblock %}