{% extends 'natal/template.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/natal/programacao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="programacao-wrapper">
    <h1 class="programacao-title">Programação</h1>
    {% for data in datas %}
    
    <div class="data-item">
        <div class="data-title-wrapper" onclick="toggleEventos('{{ data.data }}')">
            <div class="data-title">
                <span class="data-web"> {{ data.data }} </span>
                <span class="data-mobile">{{ data.data|date:"d/m/Y" }}</span> 
                <span class="data-sep">-</span> 
                <span>{{ data.dia_da_semana }}</span>
            </div>
            <div class="icon-wrapper">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        
        <div class="eventos" id="eventos-{{ data.data }}">
            {% for evento in data.eventos.all %}
                <div class="evento-infos-wrapper-web">
                    <div class="evento-hora-wrapper-web">
                        {{ evento.hora }}
                    </div>
                    <div class="evento-info-web">
                        <h1 class="evento-info-titulo-web">{{ evento.titulo_evento }}</h1>
                        <p>{{evento.descricao}}</p>
                        <h3 class="evento-info-local-web">{{ evento.local }}</h3>
                    </div>
                </div>

                <div class="evento-infos-wrapper-mobile">
                    <div class="evento-hora-mobile">
                        {{ evento.hora }}
                    </div>
                    <div class="evento-titulo-mobile">
                        {{ evento.titulo_evento }}
                        <p>{{evento.descricao}}</p>
                    </div>
                    <div class="evento-local-mobile">
                        {{ evento.local }}
                    </div>
                </div>
            {% endfor %}

                
        </div>
    </div>
    {% empty %}
    <div class="evento-item">Nenhum evento programado!</div>
    {% endfor %}
</div>

<script>
    function toggleEventos(dataId) {
        const eventosDiv = document.getElementById('eventos-' + dataId);
        const icon = eventosDiv.previousElementSibling.querySelector('i');
        
        eventosDiv.classList.toggle('show');

        // Troca o ícone da seta
        if (eventosDiv.classList.contains('show')) {
            icon.classList.add('rotate'); 
        } else {
            icon.classList.remove('rotate'); 
        }
    }
</script>
{% endblock %}