{% extends 'natal/template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/natal/reinoNoel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block main %}
<div class="reinoNoel-wrapper">
    <div class="top-banner">
        <img src="/static/imgs/bannerPrincipalReinoNoel.jpg" alt="top-banner" class="top-banner-image">
        <div class="overlay">
            <h4> #1 no estado do RJ</h4>
        </div>
    </div>

    <div class="mid-banners">
        <div class="mid-banner-card">
            <!-- <img src="/static/imgs/image.png" alt="ops"> -->
        </div>
        <div class="mid-banner-card">
        </div>
        <div class="mid-banner-card">
        </div>
        <div class="mid-banner-card">
        </div>
    </div>
    <div class="text-infos">
        <h1 class="text-infos-title">2024 - 4ª Edição - Um Encanto de Natal </h1>
        <h1 class="text-infos-title">De 15 de novembro a 31 de dezembro</h1>

        <div class="text-infos-content">
            <span class="text-infos-content-text">
                "Um Encanto de Natal: O Reino de Noel" é mais do que uma decoração temática; é uma experiência
                completa que promete criar memórias inesquecíveis para todos os visitantes. 
                <br>
                <br>
                Traga sua família e amigos para Nova Friburgo e deixe-se envolver pelo espírito natalino em um cenário
                de pura magia e encantamento. Aqui, os sonhos de Natal tornam-se realidade!
                <br>
                <br>
                In tempore antiquo, cum dii et homines in aequilibrium vivebant, terras vastas et pulchras videbamus.
                Natura erat imperatrix, et omnia sub eius potestate erant. Flumina per campos serenos currebant,
                montes excelsi caelo contiguos erant, et arborum frondes rusticae sapientia replebant. Inter haec,
                sapienti homines studium et sapientiam quaerebant. Philosophia eorum via erat ad cognoscendum
                mundum et se ipsos. 
                <br>
                <br>
                Vocibus divinorum resonantibus, pueri erant magno gaudio, et senes consilia sapienti praebebant.
                Veritas et iustitia fundamenta societatis erant, et omnes inter se pacifice vivebant. Sed tempus fluxit, et
                omnia mutantur; tantum memoria et legenda in corde nostro remanent. Sic, dum nova aetate venit,
                antiquae traditiones et sapientiae semper vivunt, et nos docet nosse veritatem et bonum.
            </span>
           
        </div>
    </div>

    <div class="previa">
        <h1 class="text-infos-title-previa">Prévia</h1>
        <div class="iframe-wrapper">
            <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview"  allow="autoplay"></iframe>
        </div>
    </div>
</div>

{% endblock %}