{% extends 'natal/template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/natal/reinoNoel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="reinoNoel-wrapper">
    <div class="top-banner">
        <img src="/static/imgs/bannerPrincipalReinoNoel.png" alt="top-banner" class="top-banner-image">
        <div class="overlay">
            <h4 class="overlay-classificacao">#1 no estado do RJ</h4>
            <h2 class="overlay-secretaria">SECRETARIA DE TURISMO</h2>
            <h1 class="overlay-reinonoel">O Reino de Noel</h1>
            <div class="overlay-infos">
                <div class="overlay-classificacao-bg">
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <span class="overlay-classificacao-number"> 5.0</span>

                </div>
                <div class="overlay-classificacao-bg">
                    <span class="overlay-temporada"> 4ª TEMPORADA </span>
                </div>
                
                <div class="overlay-ano">
                    <span class="overlay-ano-text">2024</span>
                    <div class="icon-l">
                        <i class="fas fa-square"></i>
                        <span class="letter">L</span>
                    </div>
                </div>
                
            </div>
            <span class="overlay-text">
                O Reino de Noel é mais do que uma decoração temática, é uma experiência completa que promete criar memórias inesquecíveis para todos os visitantes.   
            </span>
        </div>
    </div>

        <div class="mid-banners">
            <div class="mid-banner-card">
                <!-- <img src="/static/imgs/image.png" alt="ops"> -->
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
        </div>
    <div class="text-infos">
        <h1 class="text-infos-title">2024 - 4ª Edição - Um Encanto de Natal </h1>
        <h1 class="text-infos-title">De 15 de novembro a 31 de dezembro</h1>

        <div class="text-infos-content">
            <span class="text-infos-content-text">
                "Um Encanto de Natal: O Reino de Noel" é mais do que uma decoração temática; é uma experiência
                completa que promete criar memórias inesquecíveis para todos os visitantes. 
                <br>
                <br>
                Traga sua família e amigos para Nova Friburgo e deixe-se envolver pelo espírito natalino em um cenário
                de pura magia e encantamento. Aqui, os sonhos de Natal tornam-se realidade!
                <br>
                <br>
                In tempore antiquo, cum dii et homines in aequilibrium vivebant, terras vastas et pulchras videbamus.
                Natura erat imperatrix, et omnia sub eius potestate erant. Flumina per campos serenos currebant,
                montes excelsi caelo contiguos erant, et arborum frondes rusticae sapientia replebant. Inter haec,
                sapienti homines studium et sapientiam quaerebant. Philosophia eorum via erat ad cognoscendum
                mundum et se ipsos. 
                <br>
                <br>
                Vocibus divinorum resonantibus, pueri erant magno gaudio, et senes consilia sapienti praebebant.
                Veritas et iustitia fundamenta societatis erant, et omnes inter se pacifice vivebant. Sed tempus fluxit, et
                omnia mutantur; tantum memoria et legenda in corde nostro remanent. Sic, dum nova aetate venit,
                antiquae traditiones et sapientiae semper vivunt, et nos docet nosse veritatem et bonum.
            </span>
           
        </div>
    </div>

    <div class="previa">
        <h1 class="text-infos-title-previa">Prévia</h1>
        <div class="iframe-wrapper">
            <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview"  allow="autoplay" class="iframe-reino-noel"></iframe>
        </div>
    </div>
    
</div>

<script>
    let slideIndex = 0;
    showSlides(slideIndex);

    function showSlides(n) {
        const slides = document.querySelectorAll(".slide");
        const dots = document.querySelectorAll(".dot");

        if (n >= slides.length) { slideIndex = 0 }
        if (n < 0) { slideIndex = slides.length - 1 }

        slides.forEach((slide, index) => {
            slide.style.display = index === slideIndex ? "flex" : "none"; // Mudança para flex para centralizar conteúdo
            dots[index].className = dots[index].className.replace(" active", "");
        });

        dots[slideIndex].className += " active";
    }

    document.getElementById("next").addEventListener("click", () => {
        showSlides(++slideIndex);
    });

    document.getElementById("prev").addEventListener("click", () => {
        showSlides(--slideIndex);
    });

    function currentSlide(n) {
        slideIndex = n;
        showSlides(slideIndex);
    }
</script>

{% endblock %}