{% extends 'natal/template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/natal/reinoNoel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}
{% block main %}
<div class="reinoNoel-wrapper">
    <div class="top-banner">
        <img src="/static/imgs/bannerPrincipalTeatros.png" alt="top-banner" class="top-banner-image">
        <div class="overlay">
            <h4 class="overlay-classificacao">#1 no estado do RJ</h4>
            <h2 class="overlay-secretaria">SECRETARIA DE TURISMO</h2>
            <h1 class="overlay-reinonoel">O Reino de Noel</h1>
            <div class="overlay-infos">
                <div class="overlay-classificacao-bg">
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <i class="fa-solid fa-star overlay-classificacao-star"></i>
                    <span class="overlay-classificacao-number"> 5.0</span>

                </div>
                <div class="overlay-classificacao-bg">
                    <span class="overlay-temporada"> 4ª TEMPORADA </span>
                </div>
                
                <div class="overlay-ano">
                    <span class="overlay-ano-text">2024</span>
                    <div class="icon-l">
                        <i class="fas fa-square"></i>
                        <span class="letter">L</span>
                    </div>
                </div>
                
            </div>
            <span class="overlay-text">
                A Missão da Estrela Guia   
            </span>
        </div>
    </div>

        <div class="mid-banners">
            <div class="mid-banner-card">
                <!-- <img src="/static/imgs/image.png" alt="ops"> -->
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
            <div class="mid-banner-card">
            </div>
        </div>
    <div class="text-infos">
        <h1 class="text-infos-title">Traga sua família e amigos para embarcar nesse reino encantado de luzes, cores e emoções! 
        </h1>
       

        <div class="text-infos-content">
            <span class="text-infos-content-text">
                Neste Natal, Nova Friburgo apresenta o teatro "A Missão da Estrela Guia", que acontecerá em frente à Prefeitura, e vai ser incrível! <br><br>
                Prepare-se para uma apresentação que unirá magia, arte e emoção, envolvendo o público em uma narrativa cativante que celebra o verdadeiro espírito natalino. Com um cenário e performances deslumbrantes, "A Missão da Estrela Guia" será um ponto alto das festividades, despertando a imaginação de todos. <br><br>
                Esteja preparado para uma  noite repleta de emoção e surpresas. Se junte a nós e faça parte desse momento único que certamente ficará na memória de todos. O Natal em Nova Friburgo nunca foi tão emocionante!
            </span>
           
        </div>
    </div>

    <!-- <div class="previa">
        <h1 class="text-infos-title-previa">Prévia</h1>
        <div class="iframe-wrapper">
            <iframe src="https://drive.google.com/file/d/13ez7FTtrTKqlpaqpp3ojsVUaUOeZIv5O/preview"  allow="autoplay" class="iframe-reino-noel"></iframe>
        </div>
    </div> -->
    
</div>


{% endblock %}