<!DOCTYPE html>
<html lang="pt-br">
<head>
        <link rel="stylesheet" href="/static/css/natal/header.css">
        <!-- Custom CSS -->
        {% block css %}
        {% endblock %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-27P682BF4X"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27P682BF4X');
        </script>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
    .header-link {
        position: relative;
        text-decoration: none;
        color: #fff; /* ajuste a cor conforme necessário */
        padding: 0 10px;
        display: inline-block;
    }

    .header-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff; /* ajuste a cor da linha */
        bottom: -5px; /* distância da linha para o texto */
        left: 50%;
        transition: width 0.4s ease, left 0.4s ease;
    }

    .header-link:hover::after {
        width: 100%;
        left: 0;
    }
</style>
<body>
    <header>
        <!-- header web -->
        <div class="header-wrapper">
            <div class="count-time-wrapper">
                <span class="count-time-text"></span>
            </div>
            <div class="nav-wrapper">
                <div class="header-images-wrapper">
                    <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="image-header-logo-pmnf">
                        <img src="/static/imgs/logo_horizontal_branco.webp" alt="logoPMNF" class="header-images"/>
                    </a>
                    <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank">
                        <img src="/static/imgs/logo-turismo2-05.webp" alt="logoTurismo" class="header-images"/>
                    </a>   
                </div>
                <div class="header-links">
                    <a href="/" class="header-link" target="_blank">Início</a>
                    <a href="/reinoNoel" class="header-link" target="_blank">O Reino de Noel</a>
                    <a href="/" class="header-link" target="_blank">Programação</a>
                    <a href="https://www.novafriburgoturismo.com.br/onde-dormir" class="header-link" target="_blank">Onde Dormir</a>
                    <a href="https://www.novafriburgoturismo.com.br/onde-comer" class="header-link" target="_blank">Onde Comer</a>
                    <a href="https://www.novafriburgoturismo.com.br/nossa-historia" class="header-link" target="_blank">Nova Friburgo</a>
                    <a href="/" class="header-link" target="_blank">Notícias</a>  
                </div>
            </div>
        </div>
        <!-- header mobile -->
        <div class="header-wrapper-mobile">
            <div class="count-time-wrapper-mobile">
                <span class="count-time-text-mobile"></span>
            </div>
            <div class="nav-wrapper-mobile">
                <button class="menu-button" onclick="toggleMenu()">
                    <span class="menu-icon"></span>
                    <span class="menu-icon"></span>
                    <span class="menu-icon"></span>
                </button>
                <div class="header-images-wrapper-mobile">
                    <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="link-logo-pmnf-mobile">
                        <img src="/static/imgs/logoFriburgo.png" alt="logoPMNF" class="header-images-mobile pmnf"/>
                    </a>
                    <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank" class="link-logo-turismo">
                        <img src="/static/imgs/logoTurismo.png" alt="logoTurismo" class="header-images-mobile"/>
                    </a>   
                </div>
                <nav class="nav-menu">
                    <div class="nav-menu-list">
                        <a href="/" class="header-link-mobile" target="_blank">Início</a>
                        <a href="/reinoNoel" class="header-link-mobile" target="_blank">O Reino de Noel</a>
                        <a href="/" class="header-link-mobile" target="_blank">Programação</a>
                        <a href="https://www.novafriburgoturismo.com.br/onde-dormir" class="header-link-mobile" target="_blank">Onde Dormir</a>
                        <a href="https://www.novafriburgoturismo.com.br/onde-comer" class="header-link-mobile" target="_blank">Onde Comer</a>
                        <a href="https://www.novafriburgoturismo.com.br/nossa-historia" class="header-link-mobile" target="_blank">Nova Friburgo</a>
                        <a href="/" class="header-link-mobile" target="_blank">Notícias</a>  
                    </div>
                </nav>
            </div>
        </div>
    </header>
    {% block main %} {% endblock %}
</body>

<script>
    function updateCountdown() {
        // Define a data do Natal deste ano
        const now = new Date();
        const year = now.getFullYear();
        const christmas = new Date(year, 10, 15, 0, 0, 0); // 25 de dezembro, 00:00:00

        // Calcula a diferença de tempo em milissegundos
        const diff = christmas - now;

        // Inicializa dias, horas, minutos com 0
        let days = 0;
        let hours = 0;
        let minutes = 0;

        // Se o Natal ainda não passou, calcula os valores
        if (diff > 0) {
            days = Math.floor(diff / (1000 * 60 * 60 * 24));
            hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        }

        // Atualiza o texto da contagem regressiva
        document.querySelector('.count-time-text').textContent = `FALTAM ${days} DIAS, ${hours} HORAS E ${minutes} MINUTOS`;
        document.querySelector('.count-time-text-mobile').textContent = `FALTAM ${days} DIAS, ${hours} HORAS E ${minutes} MINUTOS`;
    }


    // Atualiza a contagem imediatamente
    updateCountdown();

    // Atualiza a contagem a cada minuto
    setInterval(updateCountdown, 60000);

    function toggleMenu() {
        const navMenu = document.querySelector('.nav-menu');
        const menuButton = document.querySelector('.menu-button');
        navMenu.classList.toggle('open');
        menuButton.classList.toggle('open');
    }
</script>
</html>