<!DOCTYPE html>
<html lang="pt-br">
<head>
        <link rel="stylesheet" href="/static/css/natal/header.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Custom CSS -->
        {% block css %}
        {% endblock %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-27P682BF4X"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-27P682BF4X');
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .header-link {
        position: relative;
        text-decoration: none;
        color: #fff; /* ajuste a cor conforme necessário */
        padding: 0 10px;
        display: inline-block;
    }

    .header-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff; /* ajuste a cor da linha */
        bottom: -5px; /* distância da linha para o texto */
        left: 50%;
        transition: width 0.4s ease, left 0.4s ease;
    }

    .header-link:hover::after {
        width: 100%;
        left: 0;
    }
</style>
<body style="background: linear-gradient(to left, #a80000, #540000);">
    <header>
        <!-- header web -->
        <div class="header-wrapper">
            <!-- <div class="count-time-wrapper">
                <span class="count-time-text"></span>
            </div> -->
            <div class="nav-wrapper">
                <div class="header-images-wrapper">
                    <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="image-header-logo-pmnf">
                        <img src="/static/imgs/logo_horizontal_branco.webp" alt="logoPMNF" class="header-images"/>
                    </a>
                    <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank">
                        <img src="/static/imgs/logo-turismo2-05.webp" alt="logoTurismo" class="header-images"/>
                    </a>   
                </div>
                <div class="header-links">
                    <a href="/" class="header-link" target="_blank">Início</a>
                    <a href="/reinoNoel" class="header-link" target="_blank">O Reino de Noel</a>
                    <a class="header-link" target="_blank" id="openOverlayLinkProgramacao">Programação</a>
                    <a href="https://www.novafriburgoturismo.com.br/onde-dormir" class="header-link" target="_blank">Onde Dormir</a>
                    <a href="https://www.novafriburgoturismo.com.br/onde-comer" class="header-link" target="_blank">Onde Comer</a>
                    <a href="https://www.novafriburgoturismo.com.br/nossa-historia" class="header-link" target="_blank">Nova Friburgo</a>
                    <a  class="header-link" target="_blank" href="/noticias">Notícias</a>  
                </div>
            </div>
        </div>
        <!-- header mobile -->
        <div class="header-wrapper-mobile">
            <!-- <div class="count-time-wrapper-mobile">
                <span class="count-time-text-mobile"></span>
            </div> -->
            <div class="nav-wrapper-mobile">
                <button class="menu-button" onclick="toggleMenu()">
                    <span class="menu-icon"></span>
                    <span class="menu-icon"></span>
                    <span class="menu-icon"></span>
                </button>
                <div class="header-images-wrapper-mobile">
                    <a href="https://www.pmnf.rj.gov.br/site/" target="_blank" class="link-logo-pmnf-mobile">
                        <img src="/static/imgs/logoFriburgo.png" alt="logoPMNF" class="header-images-mobile pmnf"/>
                    </a>
                    <a href="https://www.pmnf.rj.gov.br/turismo/" target="_blank" class="link-logo-turismo">
                        <img src="/static/imgs/logoTurismo.png" alt="logoTurismo" class="header-images-mobile"/>
                    </a>   
                </div>
                <nav class="nav-menu">
                    <div class="nav-menu-list">
                        <a href="/" class="header-link-mobile" target="_blank">Início</a>
                        <a href="/reinoNoel" class="header-link-mobile" target="_blank">O Reino de Noel</a>
                        <a class="header-link-mobile" target="_blank" id="openOverlayLinkProgramacaoMobile">Programação</a>
                        <a href="https://www.novafriburgoturismo.com.br/onde-dormir" class="header-link-mobile" target="_blank">Onde Dormir</a>
                        <a href="https://www.novafriburgoturismo.com.br/onde-comer" class="header-link-mobile" target="_blank">Onde Comer</a>
                        <a href="https://www.novafriburgoturismo.com.br/nossa-historia" class="header-link-mobile" target="_blank">Nova Friburgo</a>
                        <a class="header-link-mobile" target="_blank" href="/noticias">Notícias</a>  
                    </div>
                </nav>
            </div>
        </div>
    </header>
    {% block main %} {% endblock %}
    {% block backToTopButton %}
        {% include 'natal/backToTopButton.html' %}
    {% endblock %}
    {% block footer %}
        {% include 'natal/footer.html' %}
    {% endblock %}


    <!-- Estrutura do overlay -->
    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <button class="close-btn" id="closeBtn">&times;</button>
            <div class="overlay-text" id="overlayText">Em breve</div>
            <div class="countdown" id="countdown"></div>
            <div id="snowflakes-container"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script>
    // CONTAGEM INÍCIO DA PROGRAMAÇÃO
    // function updateCountdown() {
    //     // Define a data do Natal deste ano
    //     const now = new Date();
    //     const year = now.getFullYear();
    //     const christmas = new Date(year, 10, 15, 0, 0, 0); // 25 de dezembro, 00:00:00

    //     // Calcula a diferença de tempo em milissegundos
    //     const diff = christmas - now;

    //     // Inicializa dias, horas, minutos com 0
    //     let days = 0;
    //     let hours = 0;
    //     let minutes = 0;

    //     // Se o Natal ainda não passou, calcula os valores
    //     if (diff > 0) {
    //         days = Math.floor(diff / (1000 * 60 * 60 * 24));
    //         hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    //         minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    //     }

    //     // Atualiza o texto da contagem regressiva
    //     document.querySelector('.count-time-text').textContent = `FALTAM ${days} DIAS, ${hours} HORAS E ${minutes} MINUTOS`;
    //     document.querySelector('.count-time-text-mobile').textContent = `FALTAM ${days} DIAS, ${hours} HORAS E ${minutes} MINUTOS`;
    // }


    // // Atualiza a contagem imediatamente
    // updateCountdown();

    // // Atualiza a contagem a cada minuto
    // setInterval(updateCountdown, 60000);


    // Função para abrir o overlay
    // Função para abrir o overlay
    function openOverlay(text) {
        const overlay = document.getElementById('overlay');
        const overlayText = document.getElementById('overlayText');
        const countdown = document.getElementById('countdown');
        
        // Define o texto do overlay dinamicamente
        overlayText.innerHTML = text;

        if (text.includes("Programação")) {
            countdown.style.display = 'block';
            startCountdown();
        } else {
            countdown.style.display = 'none';
        }

        // Exibe o overlay
        overlay.classList.add('show');
    }

    // Função para fechar o overlay
    function closeOverlay() {
        const overlay = document.getElementById('overlay');
        overlay.classList.remove('show');
    }

    // Função para iniciar a contagem regressiva
    function startCountdown() {
        const christmas = new Date("December 25, 2024 00:00:00").getTime();
        const countdownElement = document.getElementById('countdown');

        const interval = setInterval(() => {
            const now = new Date().getTime();
            const distance = christmas - now;

            if (distance < 0) {
                clearInterval(interval);
                countdownElement.innerHTML = "Feliz Natal!";
            } else {
                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                countdownElement.innerHTML = `Faltam ${days} dias, ${hours} horas, ${minutes} minutos, e ${seconds} segundos para o Natal!`;
            }
        }, 1000);
    }
    // Event listeners para os links de Programação e Notícias
    document.getElementById('openOverlayLinkProgramacao').addEventListener('click', function() {
        openOverlay('Aguarde, a Programação de Natal será divulgada em breve!');
    });

    document.getElementById('openOverlayLinkNoticias').addEventListener('click', function() {
        openOverlay('As notícias serão publicadas em breve!');
    });

    document.getElementById('openOverlayLinkProgramacaoMobile').addEventListener('click', function() {
        openOverlay('Aguarde, a Programação de Natal será divulgada em breve!');
    });

    document.getElementById('openOverlayLinkNoticiasMobile').addEventListener('click', function() {
        openOverlay('As notícias serão publicadas em breve!');
    });

    
   
    // BOTÃO QUE FECHA O OVERLAY
    document.getElementById('closeBtn').addEventListener('click', function() {
        closeOverlay();
    });

    // Função para criar flocos de neve
    function createSnowflake() {
        const snowflake = document.createElement('div');
        snowflake.classList.add('snowflake');
        snowflake.innerHTML = '❄'; 

        snowflake.style.left = Math.random() * 100 + 'vw';

        // Ajusta a duração da animação
        snowflake.style.animationDuration = Math.random() * 3 + 7 + 's';

        // Define o tamanho do floco de neve
        if (window.innerWidth <= 768) { // Se a largura da tela for menor ou igual a 768px
            snowflake.style.fontSize = Math.random() * 2 + 10 + 'px'; // Flocos pequenos
        } else {
            snowflake.style.fontSize = Math.random() * 10 + 15 + 'px'; // Flocos maiores para desktop
        }

        document.getElementById('snowflakes-container').appendChild(snowflake);

        setTimeout(() => {
            snowflake.remove();
        }, 10000); 
    }

    // Gera novos flocos de neve a cada 300ms
    setInterval(createSnowflake, 300);
    
    // Fechar o overlay ao clicar fora da área central
    document.getElementById('overlay').addEventListener('click', function(event) {
        if (event.target === document.getElementById('overlay')) {
            closeOverlay();
        }
    });


    function toggleMenu() {
        const navMenu = document.querySelector('.nav-menu');
        const menuButton = document.querySelector('.menu-button');
        navMenu.classList.toggle('open');
        menuButton.classList.toggle('open');
    }
</script>
</html>