.criar-noticia-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
}
.text-editor-wrapper{
    width: 100%;
}

.preview-title{
    color: white;
}

.text-editor-wrapper{
    background-color: #0d2507;
    border-radius: 15px;
}
.text-editor-form{
    padding: 16px;
}

.descricao-label-criar-noticia, label{
    color: white !important;
    font-size: 16px !important;
    margin-left: 5px !important;

}
label:not(:first-child){
    margin-top: 10px !important;
}
.col{
    margin-top: 15px !important;
    margin-bottom: 15px  !important;
}

.buttons-criar-noticia-wrapper{
    display: flex;
    justify-content: end;
}

.button-preview-noticia  {
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 10px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #3F51B5;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all .5s ease-in-out;
}
.button-enviar-noticia{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #3F51B5;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all .5s ease-in-out;
}

.button-preview-noticia:hover, .button-enviar-noticia:hover{
    background-color: #394797;
}
@media(max-width:768px){
    .criar-noticia-wrapper{
        padding: 5px 16px;
    }
    .text-editor-form{
        padding: 8px;
    }
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 36px; /* Largura do interruptor */
    height: 20px; /* Altura do interruptor */
    
}

/* Esconde o checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}

/* Estilo do slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Cor de fundo quando desligado */
    transition: .4s; /* Transição suave */
    border-radius: 34px; /* Bordas arredondadas */
    
}

/* O círculo dentro do slider */
.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Altura do círculo */
    width: 16px; /* Largura do círculo */
    left: 3px; /* Espaço à esquerda */
    bottom: 2px; /* Espaço embaixo */
    background-color: rgb(129, 129, 129); /* Cor do círculo */
    transition: .4s; /* Transição suave */
    border-radius: 50%; /* Círculo perfeito */
}

/* Estilo quando o checkbox é marcado */
input:checked + .slider {
    background-color: #a80000; /* Cor de fundo quando ligado */
}

input:checked + .slider:before {
    transform: translateX(13px); /* Move o círculo para a direita */
}

.publicado-check-wrapper{
    display: flex;
    align-items: center;
}


/* IMAGE INPUT */
.input-with-button {
    display: flex;
    align-items: center;
    position: relative;
}

#id_imagem{
    position: relative !important;
}

.button-remove-imagem {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; /* Espaço entre o input e o botão */
    position:absolute;
    right: 6px;
    background-color: transparent;
}

.form-criar-programacao-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.form-criar-programacao-item-label{
    margin-bottom: 0px !important;
}

.form-criar-programacao-item-select{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.criar-programacao-data-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}
.message-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #c9c9c9;
    margin-bottom: 15px;
    border-radius: 20px;
}

.alert{
    margin-bottom: 0px !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2;
}
.alert.success{
    color: rgb(15, 182, 15);
}

.alert.error{
    color: rgb(230, 76, 76);
}
.new-date-button{
    background-color: white;
    color: black;
    border: none;
    width: 37px;
    height: 37px;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.new-date-button:hover{
    background-color: rgb(194, 194, 194);
}

