* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.count-time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #0d2507;
}
.count-time-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #a80000, #540000); /* Gradiente do vermelho escuro embaixo para o vermelho mais claro em cima */
    align-items: center;
    padding: 10px 16px;
    height: 80px;
}
.header-images {
    height: 45px;
}
.image-header-logo-pmnf {
    margin-right: 3px;
    position: relative;
}
.image-header-logo-pmnf::after {
    content: '';
    display: block; /* Necessário para fazer o pseudo-elemento aparecer */
    width: 1px; /* Define a largura da linha */
    height: 54px; /* Define a altura da linha */
    background-color: rgb(212, 212, 212); /* Define a cor da linha */
    position: absolute; /* Posiciona o pseudo-elemento em relação ao pai */
    left: 100%; /* Coloca o pseudo-elemento à direita do elemento pai */
    top: -9px; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para o centro verticalmente */
}
.header-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #0d2507;
    padding: 5px 10px;
    height: 25px;
    border-radius: 10px;
}

.header-wrapper-mobile {
    display: none;
}

@media screen and (min-width: 769px) and (max-width: 1180px) {
    .header-images {
        height: 35px;
    }
    .header-link {
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 7px;
    }
    .image-header-logo-pmnf::after {
        top: -3px;
        height: 47px;
    }
}

@media screen and (max-width: 930px){
    .header-wrapper {
        display: none;
    }
    .header-wrapper-mobile {
        display: flex;
        flex-direction: column;
    
    }
}


/* menu mobile */
.nav-wrapper-mobile{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #a80000, #540000); /* Gradiente do vermelho escuro embaixo para o vermelho mais claro em cima */
    align-items: center;
    padding: 10px 16px;
    height: 40px;
}
.count-time-wrapper-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #0d2507;
}
.count-time-text-mobile{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #0d2507;
    border-radius: 3px;
    transition: all 0.3s;
}
.menu-icon:nth-child(2) {
    transform-origin: center;
}
/* Menu open state */
.menu-button.open .menu-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-button.open .menu-icon:nth-child(2) {
    opacity: 0;
}
.menu-button.open .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
.nav-menu {
    display: none;
    position: absolute;
    top: 72px;
    left: 12px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    
}
.nav-menu-list{
    display: flex;
    flex-direction: column;
    background-color: #0d2507;
    padding: 10px;
    border-radius: 10px;
}
.header-link-mobile{
    text-decoration: none;
    color: white;
}
.header-link-mobile::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block; /* Necessário para fazer o pseudo-elemento aparecer */
    background-color: white;
    margin-bottom: 5px;
}

.nav-menu-list a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
}
.nav-menu-list a:hover {
    background-color: #a80000;
}
/* Open state */
.nav-menu.open {
    display: block;
}

.header-images-wrapper-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-images-mobile{
    height: 30px;
}

.link-logo-pmnf-mobile::after{
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 0px;
    left: 46%;
    transform: translateX(-50%);
}

