* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.count-time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #0d2507;
}
.count-time-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10pt;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #a80000, #540000); /* Gradiente do vermelho escuro embaixo para o vermelho mais claro em cima */
    align-items: center;
    padding: 0px 16px;
    height: 60px;
}
.header-images {
    height: 35px;
}
.header-images:first-child{
    margin-right: 10px;
}
.header-images:last-child{
    margin-left: 10px;
}
.image-header-logo-pmnf {
    margin-right: 10px;
    position: relative;
}
.image-header-logo-pmnf::after {
    content: '';
    display: block; /* Necessário para fazer o pseudo-elemento aparecer */
    width: 1px; /* Define a largura da linha */
    height: 44px; /* Define a altura da linha */
    background-color: rgb(212, 212, 212); /* Define a cor da linha */
    position: absolute; /* Posiciona o pseudo-elemento em relação ao pai */
    left: 100%; /* Coloca o pseudo-elemento à direita do elemento pai */
    top: -1px; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para o centro verticalmente */
}
.header-link {
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    /* background-color: #0d2507; */
    padding: 5px 10px !important;
    height: 25px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.header-wrapper-mobile {
    display: none;
}

@media screen and (min-width: 769px) and (max-width: 1180px) {
    .header-images {
        height: 35px;
    }
    .header-link {
        font-size: 12px !important;
        padding: 3px 8px !important;
        border-radius: 7px !important;
    }
    .image-header-logo-pmnf::after {
        top: -3px;
        height: 47px;
    }
}

@media screen and (max-width: 960px){
    .header-wrapper {
        display: none;
    }
    .header-wrapper-mobile {
        display: flex;
        flex-direction: column;
    
    }
}


/* menu mobile */
.nav-wrapper-mobile{
    display: flex;
    justify-content: end;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #a80000, #540000);
    align-items: center;
    padding: 10px 16px;
    height: 70px;
}
.count-time-wrapper-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #0d2507;
}
.count-time-text-mobile{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #0d2507;
    border-radius: 3px;
    transition: all 0.3s;
}
.menu-icon:nth-child(2) {
    transform-origin: center;
}
/* Menu open state */
.menu-button.open .menu-icon:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.menu-button.open .menu-icon:nth-child(2) {
    opacity: 0;
}
.menu-button.open .menu-icon:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}
.nav-menu {
    display: none;
    position: absolute;
    /* top: 72px; CASO O CONTADOR DE HORAS ESTEJA VISÍVEL */
    top: 51px;
    right: 15px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    
}
.nav-menu-list{
    display: flex;
    flex-direction: column;
    background-color: #0d2507;
    padding: 10px;
    border-radius: 10px;
}
.header-link-mobile{
    text-decoration: none;
    color: white;
}
.header-link-mobile::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block; /* Necessário para fazer o pseudo-elemento aparecer */
    background-color: white;
    margin-bottom: 5px;
}

.nav-menu-list a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
}

/* Open state */
.nav-menu.open {
    display: block;
}

.header-images-wrapper-mobile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-images-mobile{
    height: 30px;
}

.link-logo-pmnf-mobile::after{
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 0px;
    left: 46%;
    transform: translateX(-50%);
}


/* OVERLAY */
.overlay {
    position: fixed; /* Mantém a posição fixa */
    top: 0;          /* Inicia do topo da página */
    left: 0;         /* Inicia do lado esquerdo da página */
    width: 100%;     /* Ocupará 100% da largura da tela */
    height: 100%;    /* Ocupará 100% da altura da tela */
    background: rgba(0, 0, 0, 0.7); 
    display: flex;   /* Usar flex para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    z-index: 9999;   /* Coloca o overlay acima de outros elementos */
    opacity: 0;      /* Inicia invisível */
    visibility: hidden; /* Inicia invisível */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Estilos da caixa central */
.overlay-content {
    position: relative; /* Importante para limitar os flocos dentro da div */
    background: linear-gradient(to left, #a80000, #540000);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 50vw;
    height: 30vh;
    overflow: hidden; /* Isso garante que os flocos fiquem dentro da área */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: white;
    z-index: 2; /* Mantém o botão de fechar acima de tudo */
}

.close-btn:hover {
    transform: scale(1.2);
    color: #0d2507;
}

/* Texto principal */
.overlay-text {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    color: white !important;
    z-index: 2 !important; /* Mantém o texto acima dos flocos de neve */
    position: relative !important; /* Garante que o z-index funcione corretamente */
}

/* Transição para o overlay */
.overlay.show {
    opacity: 1;      /* Torna visível quando ativado */
    visibility: visible; /* Muda para visível quando ativado */
    display: flex;   /* Flex para manter o centro */
}
/* Estilos dos flocos de neve */
.snowflake {
    position: absolute;
    top: -50px;
    /* font-size: 24px; */
    color: rgba(255, 254, 254, 0.5); 
    opacity: 0.5;
    animation: fall 10s linear infinite;
    z-index: 1;
}

/* Animação de queda */
@keyframes fall {
    0% { top: -50px; }
    100% { top: 100%; } /* Garante que os flocos desapareçam no final da área branca */
}
/* Estilos da contagem regressiva */
.countdown {
    font-size: 20px;
    color: white;
}

@media(max-width:768px){
    .overlay{
        width: 100vw;
        padding: 10px;
    }
    .overlay-content{
        width: 100vw;
    }
    .overlay-text, .countdown{
        font-size: 1em !important;
    }
}

